@use '_color' as c;


.article, article{
    padding-top: 5px;
    margin-bottom: 60px;
    img{
        width: 100%;
        height: 252px;
        border-radius: 18px;
        object-fit: cover;
    }
    h2{
        margin-top: 0px;;
    }
}




.h2{
    font-family: inherit;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    
}

a.h2{
    display: inline-block;
    text-decoration: none;
    transition: all ease 0.3s;
    margin-bottom: 20px;
    color: #000;
    &:hover{
        color: c.$accent-color
    }
}


.date{
    font-family: inherit;
    letter-spacing: 4px;
    text-align: center;
    position: relative;
    margin-bottom: 43px;
    padding-left: 20px;;
    &:before{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../images/icons/calendar.svg');
        background-size: cover;
        background-repeat: no-repeat;
        left: 60px;
    }
}

.blog-main {
    background: linear-gradient(#fff 0%, #fff 16%, #f7f7f7 16%, #fff 100%);
    .h1-main {
        padding-left: 25px;
        margin-bottom: 306px;
        margin-top: 31px;
        line-height: 1.3;
        letter-spacing: 10.1px;
        font-weight: 400;
    }
    .about-section{
        background-color: #F2F2F2;
    }
    .wrap-main-pic {
        width: 338px;
        top: 206px;
        right: -98px;
    }
    .gold-text {
        padding-left: 46px;
        width: 250px;
        font-size: 18px;;
    }
}


ul.breadcrumb {
    display: flex;
    padding: 4px 16px 0px 25px;
    list-style: none;
    // background-color: #eee;
    position: relative;
    z-index: 5;
    margin-top: 0px;
    z-index: 1;
  }  
  ul.breadcrumb li {
    // display: block; 
    font-size: 14px;
    font-family: inherit;
    a{
        text-decoration: none;;
        color:#514C4C;
        &:hover{
            color: c.$accent-color;
        }
    }
}  
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}  
//   ul.breadcrumb li a {color: green;}
.blog-main{
}
.container-blog{
    width: 300px;
    margin: 0 auto;
    padding: 0px 5px;
    padding-bottom: 150px;;
}
/* Pagination links */
ul.pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-paging{
    display: flex;
    align-items: center;

}
.pagination a {
    color: black;
    float: left;
    font-size: 15px;
    padding: 8px 10px;
    text-decoration: none;
    transition: background-color .3s;
    &.active, &:hover{
        color: c.$accent-color;
    }
    &.disabled{
        pointer-events: none;

    }
}
.pagination a.prev:hover, .pagination a.next:hover {        
    path  {
        stroke:  c.$accent-color;        
    }          
}


.content-part{
    padding: 0px 20px 100px 20px;
    margin: 0 auto;
    p{
        font-family: inherit;
        line-height: 150%;
        font-size: 17px;
        color: #000;
        margin-bottom: 46px;
        padding: 0px 29px;
    }
    img{
       height: 250px;
       width: 100%;;
       object-fit: cover;
       border-radius: 18px;
       margin-bottom: 46px; ;

    }
}

.nav-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.prev-block, .next-block{
    a{
        display: flex;
        font-family: inherit;
        align-items: center;
        color: #000;
        font-size: 15px;
        text-decoration: none;
        transition: all ease 0.3s;
        svg{
            padding: 0px 5px;
            min-width: 30px;
            path{
                transition: all ease 0.3s;
            }

        }
        &:hover{
            color: c.$accent-color;
            svg{
                path{
                    stroke: c.$accent-color;
                }
            }

        }
    }
    // span{
    //     padding: 0px 10px;
    //     transition: all ease 0.3s;

    //     &:hover{
    //         color: c.$accent-color;
    //     }
    // }
}

.next-block {
    a{
        height: 26px;;
    }
    svg{
        height: 26px;;
    }

}


.main-screen.blog-one{
    background: #fff;
}

.blog-one{
    position: relative;
    padding-top: 0px;
    padding: 0px 0px 0px;
    .header-picture{
        width:98%;
        height: 213px;   
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        border-radius: 18px;
        margin: 28px auto 55px;

    }
    .blog-header{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 18px;       
    }
    .overflow-black{
        position: absolute;
        left:0px;
        top:0px;
        background-color: black;
        height: 100%;
        width: 100%;
        z-index: 2;
        opacity: 0.3;
        border-radius: 18px;
        overflow: hidden;
    }
    .article-name{
        font-family: inherit;
        position: absolute;
        top:45px;
        z-index: 3;
        color: #fff;
        letter-spacing: 7px;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 139%;
        font-size: 22px;
        text-align: center;
    }
    .round-block{
        position: absolute;
        right: 0px;
        bottom: -3px;
        background-size: cover;
        width: 199px;
        height: 68px;
        z-index: 6;
        background-image: url('../images/icons/round.svg');
    }
    .date{
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 9;
        margin-bottom: 5px;
    }
    .date:before{
        left: -9px;
    
    }
}

.content-part{
    position: relative;
}

.article-name-fixed{
    position: fixed;
    top: 600px;
    width: 100px;
    left: 15px;
    .gold-text{
        font-family: inherit;
        color: c.$accent-color;
        font-size: 14px;;
    }
    .gold-text:before {
        transform: rotate(-6deg);
        background-image: url(../images/icons/arrgoldtop.svg);
    }
}


.contactpage-top{

    max-width: 300px;
    margin: 0 auto;
    .footer-info .icon.loc {
        width: 28px;
        margin-top: 10px;
        margin-left: -1px;
    }
    .footer-info .icon {
        width: 23px;
    }

    .footer-info{
        position: relative;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 0px;;
        li{
            margin-bottom: 30px;
            a{
                font-size: 20px;
            }
        }
    }
}

.map-block{
    max-width: 95%;
    margin: 0 auto;
    max-height: 400px;
    border-radius: 18px;
    overflow: hidden;
}

.pics-cont-wrap{
    position: relative;
    padding-bottom: 500px;
    .cont-im {
        border-radius: 18px;
        position: absolute;;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;;
            object-fit: cover;
        }
    }
    .cont-im1{
        width: 249px;
        height: 297px;
        top: 150px;
        left: 15px;
        z-index: 2;
    }
    .cont-im2{
        width: 242px;
        height: 228px;
        top: 0px;
        right: 0px;
        z-index: 1;
    }
}




.form-button{
    margin-bottom: 40px;;
}


@media (min-width: 340px) {
    .header-picture{
        max-width: 321px;
    }
}


@media (min-width: 360px) {
    .container-blog{
        width: 320px;
        padding: 0px 10px 150px;
        margin: 0 auto;
    }
}

@media (min-width: 680px) {
    .blog-main .wrap-main-pic {
        width: 483px;
        top: 68px;
        right: -98px;
    }
    .container-blog {
        width: 520px;
    }
    a.h2{
        text-align: center;
    }
    .article, article{
        text-align: center;
    }
    .date:before{
        left: 160px;
    }


}

@media (min-width: 760px) {
    .blog-main .h1-main {
        padding-left: 194px;
        margin-bottom: 306px;
        margin-top: 13px;
        font-size: 40px;
    }
    .blog-main .wrap-main-pic {
        width: 353px;
        top: 191px;
        right: 9px;
    }
    ul.breadcrumb {    
        position: absolute;
        top: 40px;
        left: 223px;
    }
    .pagination a{
        font-size: 20px;
    }
    .content-part img {
        height: 450px;
    }
    .blog-one {
        position: absolute;
        top: 100px;
        .header-picture {
            max-width: 64%;
            height: 350px;;
            margin-left: 180px;;
        }
        .article-name {
            top: 33%;
            left: 50%;
            transform: translateX(-50%);
            max-width: 294px;;
        }
    }
    .contactpage-top {
        max-width: 75%;
        margin-bottom: 100px;;
    }
    .contactpage-top .footer-info {
        position: relative;
        flex-direction: row;    
        flex-wrap: wrap;
    }
    .map-block{
        width: 90%;
        iframe{
            width: 100%;;
        }
    }
    .contactpage-top .footer-info li {
        margin-bottom: 30px;
        width: 44%;
    }
}

@media (min-width: 1024px) {
    article, .article{
        position: relative;
        text-align: left;;
        .date{
            position: absolute;
            left: -200px;
            top: 11px;
        }
        .date:before {
            left: -15px;
        }
        a.h2{
            margin-bottom: 32px;
        }
    }
    .container-blog{
        padding-top: 40px;
    }
    .blog-main{
        .gold-text{
            max-width: 800px;
            position: absolute;
            left: 200px;
            top: 500px;            
        }
    }
    .blog-main .h1-main {
        padding-left: 248px;
        margin-bottom: 221px;
        margin-top: 13px;
        font-size: 54px;
    }
    .blog-main .wrap-main-pic {
        width: 454px;
        top: 66px;
        right: 49px;
    }
    .content-part {
        padding: 0px 134px 100px 20px;
        margin: 0 auto;
        max-width: 74%;
        padding: 0px 140px 100px 0px;

    }
    .contactpage-top {
        padding-top: 80px;
    }
    .footer-menu {
        gap: 75px;
    }
    .footer-info.info2{
        padding-top: 11px;
    }
    .middle-text {
        max-width: 630px;
    }
}


@media (min-width: 1200px) {
    .blog-main .wrap-main-pic {
        width: 583px;
        top: -59px;
        right: 155px;
    }
    .blog-main .h1-main {
        padding-left: 244px;
        margin-bottom: 221px;
        margin-top: -59px;
        font-size: 63px;
    }
    .blog-main {
        background: linear-gradient(#fff 0%, #fff 19%, #f7f7f7 19%, #fff 100%);
    }
    .container-blog {
        width: 820px;
        padding-left: 100px;;
    }
    .article img, article img {
        width: 100%;
        height: 319px;
    }
    .blog-one {

        .header-picture {
            max-width: 75%;
        }
    }

}

@media (min-width: 1300px) {
    .blog-one{
        .header-picture {
           max-width: 79%;
           height: 495px;
        }
        .round-block {
            right: 0px;
            bottom: -3px;
            width: 247px;
            height: 86px;
        }
        .blog-one .overflow-black {
            opacity: 0.5;
        }
    }    
    .content-part {
        padding: 0px 140px 100px 0px;
        margin: 0 auto;
        margin-left: auto;
        max-width: 74%;
        margin-left: 14%;
    }
    .content-part p {
        font-size: 19px;
        padding-left:   0px;
        margin-top: 0px;;
    }
    .contactpage-top .footer-info li {
        width: 23%;
    }
    .contactpage-top .footer-info {
        align-items: center;
    }
    .footer-info.in2{
        li{
        
                width: 48%;
        }
    }
    .map-block{
        height: 700px;
        margin-bottom: 120px;
        iframe{
            height: 100%;
        }
    }
    .main-screen.blog-main .h2.type-1{
        text-align: left;
        margin-bottom: 40px;
        font-size: 40px;
    }
    .strange-big-text.only-desktop{
        font-weight: 400;
        text-align: left;
    }
    .pics-cont-wrap .cont-im2 {
        right: 46px;
    }
    .contactpage-top .footer-info li a {
         font-size: 17px;
    }
    menu li {
        text-align: left;
    }

}

@media (min-width: 1400px) {
    .contactpage-top .footer-info li a {
         font-size: 20px;
    }
     menu li {
        text-align: left;
    }
}


@media (min-width: 1560px) {
    .article-name-fixed {
        position: fixed;
        top: 600px;
        width: 300px;
        left: 123px;
         .gold-text {
            font-size: 21px
        }
        .gold-text:before {
            width: 89px;
            height: 100px;
            top: -128px;
            left: -63px;
            
        }
    }

    .blog-main{
        .wrap-main-pic {
            right: 200px;
            width: 698px;
            top: -85px;
        }
        h1{
            font-size: 60px;;
        }
        .h1-main {
            padding-left: 386px;
            margin-bottom: 294px;
            margin-top: -121px;
            font-size: 63px;
        }
        .gold-text {
            padding-left: 46px;
            width: 320px;
            max-width: 800px;
            left: 283px;
            top: 594px;
        }
    }
    ul.breadcrumb {
        top: 82px;
        left: 359px;
    }
    .blog-one .header-picture {
        max-width: 72%;
        margin-left: 326px;
    }
    .content-part {
        max-width: 68%;
        margin-left: 326px;
    }
    .blog-one .article-name {
        top: auto;
        bottom: 120px;
        left: 52px;
        transform: translateX(0%);
        text-align: left;
        font-size: 42px;
        max-width: 46%;
    }
    .main-screen.blog-one{
        background: #fff;
    }
    .blog-one .header-picture {
        max-width: 72%;
        margin-left: 326px;
        margin-top: 78px;
    }
    .content-part p {
        font-size: 24px;
    }
    .content-part img {
        height: 535px;
    }
    .blog-one .round-block {
        right: 0px;
        bottom: 0;
        width: 316px;
        height: 107px;
    }
    .blog-one .date {
        font-size: 20px;
        position: absolute;
        bottom: 13px;
        right: 41px;
    }
    .blog-one .date:before {
        left: -17px;
        top: 2px;
    }
    .content-part {
        padding: 0px 180px 100px 0px;
    }
}

@media (min-width: 1600px) {
    ul.breadcrumb {
        top: 82px;
        left: 459px;
        li{
            font-size: 17px;
            font-weight: 500;
        }
    }
    .blog-main .h1-main {
        padding-left: 477px;
        margin-bottom: 350px;
        margin-top: -118px;
        font-size: 64px;
    }
    .blog-main .wrap-main-pic {
        right: 252px;
        width: 698px;
        top: -83px;
    }
    .blog-main .gold-text {
        padding-left: 46px;
        width: 433px;
        max-width: 938px;
        left: 435px;
        top: 626px;
        font-size: 23px;
        letter-spacing: 6px;
    }
    .gold-text:before {
        width: 89px;
        height: 100px;
        top: -94px;
        left: -56px;
        transform: rotate(-37deg);
    }
    .container-blog {
        width: 1195px;
        padding-left: 0px;
        padding-right: 200px;
        margin-left: 467px;
    }
    .blog-main{
        background: linear-gradient(#fff 0%, #fff 14%, #f7f7f7 14%, #fff 100%);
        .h2 {
            font-family: inherit;
            font-size: 42px;
        }
        .date{
            font-size: 20px;
            left: -228px;
            top: 18px;
        }
    }
    .article img, article img {
        width: 100%;
        height: 567px;
    }
    .article, article {
        margin-bottom: 107px;
    }
    .container-blog {    
        padding: 40px 10px 238px;
    }
    ul.pagination {
        padding-top: 101px;
    }
    .pagination a {
        font-size: 37px;
        padding: 8px 21px;
    }
    article a.h2, .article a.h2 {
        margin-bottom: 67px;
    }
    .blog-one .header-picture {
        max-width: 72%;
        height: 642px;
    }
    .blog-one .article-name {
        top: auto;
        bottom: 58px;
        left: 112px;
        transform: translateX(0%);
        text-align: left;
        font-size: 69px;
        max-width: 72%;
        letter-spacing: 16px;
    }
    .nav-block {
        padding: 76px 10px;
    }
    .next-block a, .prev-block a {
        height: 29px;
        font-size: 24px;
    }
    .prev-block a  span{
        padding: 0px 10px;
    }
    .prev-block a svg {       
        min-width: 56px;
        height: 20px;

    }
    .next-block a svg { 
        min-width: 83px;
        height: 51px;
        margin-left: 20px;
        margin-top: 4px;
    }
    .content-part {
        padding: 0px 185px 100px 109px;
    }
    .main-screen.blog-main  .forms-block .two-sides {
        justify-content: space-around;
    }
    // .footer-info.in2  svg:first-child{
    //     width: 30px;
    //     height: 30px;
    // }
    .footer-info.in2  svg{
        width: 28px;
        height: 28px;
    }
    .footer-info.in2 li {
        width: 48.5%;
    }
    // .footer-info.in2  li a{
    //     align-items: flex-start;
    // };
    
    .map-block {
        height: 900px;
        min-height: 800px;
        margin-bottom: 120px;
    }
    .main-screen.blog-main .h2.type-1 {
        text-align: left;
        margin-bottom: 40px;
        font-size: 73px;
        font-weight: 300;
    }
    .cont-form-deco{
        padding-top: 100px;
    };
    .main-screen.blog-main .forms-block .two-sides  form {
        margin-left: 0px;;
    }
    .pics-cont-wrap {
        padding-bottom: 625px;
    }
    .pics-cont-wrap .cont-im1{
        width: 355px;
        height: 389px;
        left: -100px;
    }
    .pics-cont-wrap .cont-im2{
        width: 439px;
        height: 447px;
        right: -100px;
    }
}