@use "_color" as c;


.no-scroll{
  header{
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  .icons-set{
    opacity: 0;
  }
}

// .no-scroll {
//   overflow: hidden;
//   height: 100vh; /* Фіксує висоту вікна */
//   touch-action: none; /* Забороняє свайпи на мобільних */
// }

// .no-scroll body {
//   overflow: hidden;
// }

// .box {
//   max-height: 100vh; /* Обмежує висоту */
//   overflow-y: auto; /* Дозволяє прокрутку всередині */
// }

.hide,
.sanimate {
    opacity: 0;
}

.sanimate {
    &.fadeInUp {
        animation-name: fadeInUp40;
        animation-duration: 700ms;
        animation-delay: unset;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        // opacity: 1;
    }
}

.fadeInLeft {
  animation: fadeInLeft 1s ease forwards;
}



@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInUp40 {
  from {
      opacity: 0;
      transform: translateY(40%);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-100%);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}


.main-screen {
  position: absolute;
  overflow-x: hidden;
  // position: static;
  top: 0px;
  width: 100%;
  overflow: hidden;
  min-height: 510px;
  height: 510px;
  // padding: 510px 0px 0px 110px;
  // background: linear-gradient(#000000 0%, #000000 535px, #f7f7f7 535px, #fff 100%);
}
.main-screen.dark{
  background: #000;
}

.main-screen.white{
  background: #fff;
  position: relative;
}

.page-content{
  background: linear-gradient(#f7f7f7 0%, #f7f7f7 100%, #fff 100%, #fff 100%);
}

.top-screen{
  // background-color: #000;
}

.wrap-main-pic {
  width: 417px;
  position: absolute;
  top: auto;
  right: 0px;
  bottom: -6px;
  left: 0px;
  pointer-events: none;
  img {
    width: 100%;
  }
}

.type-1, .form-bottom-h2 {
  font-family: inherit;
  font-weight: 300;
  font-size: 32px;
  color: c.$main-color;
  line-height: 142%;
}
.form-bottom-h2{
  text-align: center;
}
.main-logo{
  position: absolute;
  top: 50%;
  left: 0px;
  max-width: 100%;
  pointer-events: none;;
  img{
    width: 100%;
  }
}



.h1-main {
  font-family: inherit;
  font-weight: 900;
  font-size: 28px;
  color: rgba(255,255,255,0.26);
  opacity: 0.5;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 7px;

  position: absolute;
  top: 250px;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: 3;
  
}

.normal-text {
  font-family: inherit;
  line-height: 150%;
  font-size: 15px;
  color: #000;
}


.page-content{
  padding-top: 558px;
}


.gold-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 159%;
  color: c.$accent-color;
  text-transform: uppercase;
  // letter-spacing: 2px;
  position: relative;
  a {
    font-family: inherit;
    color: inherit;
    display: block;
  }
  &:before {
    content: "";
    position: absolute;
    top: -110px;
    left: 43px;
    width: 64px;
    height: 75px;
    background-image: url("../images/icons/arr-gold.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.gold-text,
.two-text {
  padding-left: 45px;
  padding-right: 10px;
}

.bold-text {
  font-family: inherit;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 149%;
  color: c.$main-color;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.light-text {
  font-family: inherit;
  font-size: 32px;
  font-weight: 300;
  line-height: 137%;
  color: c.$main-color;
  margin-bottom: 50px;
}

.container-main {
  max-width: 300px;
  margin: 0 auto;
  padding: 0px 10px;
}

.simple-text {
  font-family: inherit;
  font-weight: 400;
  line-height: 161%;
  color: c.$main-color;
}

.main-screen {
  .simple-text {
    margin-bottom: 34px;
  }
}

.wrap-images {
  position: absolute;
  border-radius: 25px;
  overflow: hidden;
  img {
    width: 100%;
  }
}


.pics-block {
  position: relative;
  min-height: 450px;
  margin-bottom: 70px;
  .wrap-top {
    width: 226px;
    height: 151px;
    top: 0px;
    right: 10px;
  }
  .wrap-middle {
    width: 181px;
    height: 256px;
    top: 91px;
    left: 5px;
  }
  .wrap-bottom {
    width: 183px;
    height: 234px;
    top: 199px;
    right: 15px;
  }
}

.button {
  width: auto;
  border: 1px solid c.$accent-color;
  color: c.$accent-color;
  font-family: inherit;
  font-size: 16px;
  border-radius: 44px;
  padding: 26px 65px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 59px auto 20px;
  display: block;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: all ease 0.3s;
  max-width: 300px;
  background-color: transparent;
  &:hover {
    background-color: c.$accent-color;
    color: #fff;
  }
}

.about-section {
  position: relative;
  // background-color: #F2F2F2;
}

.pics-wrap {
  position: relative;
  min-height: 402px;
  .wrap-big-pic {
    width: 188px;
    height: 319px;
    top: 58px;
    left: 25px;
  }
  .wrap-pic-small {
    width: 194px;
    height: 286px;
    top: 0px;
    right: 14px;
  }
}

.about-section {
  padding-top: 40px;
  padding-bottom: 0px;
  margin-bottom: 19px;
  .type-1 {
    max-width: 200px;
    text-align: center;
    display: block;
    margin: 0 auto 47px;
    font-size: 31px;
    line-height: 131%;
    font-weight: 300;
  }
}

.only-desctop {
  display: none;
}

.about-flex {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  margin: 0 auto;
  padding-left: 0px;
  padding-top: 8px;;
  &-item {
    margin-bottom: 30px;
  }
  &-head {
    font-family: inherit;
    font-size: 21px;
    font-weight: 600;
    line-height: 159%;
    color: #000;
    margin-bottom: 14px;
  }
}

.owl-carousel .owl-stage-outer {
  min-height: 243px;
}

.slider-block {
  padding: 19px 10px 30px;
  position: relative;

  .type-1{
    font-size: 31px;
    max-width: 250px;
    text-align: center;
    margin: 0 auto 46px;
  }
}

.owl-images {
  width: 100%;
  height: 270px; /* Висота контейнера */
  overflow: hidden; /* Обрізає зайве */
  border-radius: 18px;
  object-fit: cover;
}

.owl-images img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Заповнює контейнер без спотворень */
  object-position: left; /* Вирівнює по центру */
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
	z-index: 1;
	width: 40px;
	height: 40px;
	background-color: #ccc;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
}

.prev-btn, .next-btn{
  &:hover{
    path  {
      stroke{
        fill: c.$accent-color;
      }
    }
  }
}

.owl-nav button span {
	font-size: 30px;
	height: 100%;
	display: block;
	width: 100%;
}
.owl-carousel .owl-nav button.owl-prev {
	left: 0;
}
.owl-carousel .owl-nav button.owl-next {
	right: 0;
}
.owl-carousel .owl-nav {
	margin: 0;
}
.btn-wrap {
	width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.slider-block button {
	background-color: transparent;
	border: none;
	padding: 10px 0px 20px 20px;
	border-radius: 5px;
	margin: 10px;
	font-size: 18px;
	font-weight: 600;
	transition: all 0.5s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
  // height: 50px;
  &:hover{
    path  {
      stroke:  c.$accent-color;
      
    }
  }
  &.prew-btn{
    padding-top:0px
  }

}
.owl-theme .owl-nav .disabled,
.slider-block button.disabled {
	// opacity: 0.6;
}

.small-gold{
  color: #D5AF7B;
  font-size: 18px;
  font-weight: 400;
  max-width: 120px;
  padding-left: 30px;
  position: relative;
  line-height: 122%;
  margin-top: -20px;
  position: absolute;
  bottom: 27px;
  left: 24px;
  z-index: 20;
  &:before {
    content: "";
    position: absolute;
    top: -37px;
    left: -7px;
    width: 41px;
    height: 59px;
    background-image: url(../images/icons/arr-gold.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(28deg) scaleY(-1);
  }
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0px 20px 20px;
}

/* Картка */
.gallery-item {
  width: 47%;
  height: 175px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

/* Обгортка для картинки */
.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 12px;
  will-change: transform;
  &:hover{
    img{
      filter: brightness(0.7);
      transform: scale(1.1);
    }
  }
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all ease 0.3s;
    transition: transform 0.4s ease, filter 0.4s ease;
    filter: brightness(0.6);
}

/* Затемнення */
// .image-wrapper::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.27); /* Затемнення 27% */
//     transition: background 0.3s ease;
// }

/* Текст-посилання */
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    z-index: 2;
    font-weight: 500;
    text-decoration: underline;
}

/* Анімація при наведенні */
// .gallery-item:hover img {
//     transform: scale(1.1);
// }

// .gallery-item:hover .image-wrapper::after {
//     background: rgba(0, 0, 0, 0.15); /* Затемнення слабшає */
// }

.form-section{
  padding: 50px 0px

}


.footer {
  position: relative;
  padding: 40px 15px;
  color: #000;
  text-align: center;
  margin-top: 30px;
  

}

/* Псевдоелемент для прозорого фону */
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* 30% прозорості */
  z-index: 1; /* Щоб фон був позаду */ 
  color: #000;
}

.footer-content {
  position: relative;
  z-index:3;
  max-width: 300px;
  margin: 0 auto;
}

.footer-text .studio{
  font-size: 14px;;
  a{
    color: #000;
    transition: all ease 0.3s;
    &:hover{
      color: red;
    }
  }

}

/* Логотип */
.footer-logo {
  width: 240px;
  min-width: 240px;
  display: block;
  margin: 10px auto 0px ;
  img {
      width: 100%;
  }
}

/* Меню */
.footer-menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 13px auto 0;
    max-width: 200px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    text-align: left;
    li{
      margin-bottom: 15px;
    }
}

.footer-menu a {
    text-decoration: none;
    transition: color 0.3s;
    text-align: left;
    color: #000;
    font-size: 16px;
    line-height: 140%;;
}

.footer-menu a:hover {
    // color: #FFD700;
    text-decoration: underline;
}

/* Інформація */
.footer-info {
    list-style: none;
    padding: 0;
    margin-bottom: 54px;
    margin-left: 30px;
    .icon{
      width: 19px;
      margin-right: 10px;;
      &.loc{
        width: 25px;
        margin-top: 10px;
        margin-left: -3px;
      }
      svg{
        width: 100%;
      }
    }
    li a:hover{
      path{
        stroke: c.$accent-color;
      }
    }
}

.footer-info li {
    margin-bottom: 10px;
}

.footer-info a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: color 0.3s;
    color: #000;
    span{
      text-align: left;
    }
    span.icon{
      margin-right: 20px;;
    }
}

.footer-info a:hover {
    // color: #FFD700;
    text-decoration: underline;
}

.footer-info .icon svg path{
    transition: stroke 0.3s;
}

.footer-info a:hover .icon svg {
    stroke: #FFD700;
}

/* Соцмережі */
.footer-capitali {
    display: flex;
    gap: 20px;
    margin: 20px 0 40px;
    max-width: 80px ;
    margin: 20px auto 40px;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    a{
      max-height: 33px;

      svg{
        height: 100%;
        transition: all ease 0.3s;;
      }
      &:hover{
        svg{
          path{
            stroke: c.$accent-color;
            transition: all ease 0.3s;
            fill: all ease 0.3s;
          }
        }
          
      }
    }
}

.footer-capitali .social-icon svg {
  transition: all ease 0.3s;
  path, rect, circle{
    transition: all ease 0.3s;
  }

}

.footer-capitali .social-icon:hover svg {
    // stroke: #FFD700;
    transition: all ease 0.3s;
    path, rect, circle{
      stroke:  c.$accent-color;
    }
   
}

/* Дрібний текст */
.footer-text {
    font-size: 12px;
    opacity: 0.8;
}

.footer-text a {
    text-decoration: none;
}

.footer-text a:hover {
    color: #FFD700;
}

.tabs-block{
  // background-color: #F7F7F7 ;
  padding-top: 35px;
}

.accordion {
  font-family: inherit;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  // width: 260px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  font-style: normal;
  font-weight: 500;
  line-height: 156%;
  padding: 28px 0 20px 0px;
  position: relative;
}

.line:not(:last-child) {
  border-bottom: 1px solid #CACACA;
}

.active, .accordion:hover {
  // background-color: #ccc;
}

.accordion:after {
  content: '';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  width: 20px;
  height: 1px;
  transition: all ease 0.3s ;
  color: c.$accent-color;
  background-color: c.$accent-color;
  background-size: cover;
  position: absolute;
  top: 44px;
  right: 0px;
  box-sizing: border-box;
}

.accordion:before {
  content: '';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  width: 1px;
  height: 20px;
  transition: all ease 0.3s ;
  color: c.$accent-color;
  background-color: c.$accent-color;
  background-size: cover;
  position: absolute;
  top: 35px;
  right: 10px;
}

.active:before {
  transform: rotate(90deg);
  opacity: 0;
}
.accordeon-block{
  padding: 0px 20px 0px 29px;
  margin-bottom: 70px;
}
.panel {
  font-family: inherit;
  padding: 0 0px 0px 15px;
  margin-top: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #000;
  p {
    margin-bottom: 35px;
    line-height: 141%;
  }
}
.texts-side{
  .type-1{
    margin: 8px auto 41px;
    font-size: 31px;
    line-height: 129%;
    font-weight: 300;   
  }
}
.strange-big-text{
  padding: 5px 31px 20px;
  line-height: 133%;
  text-align: left;
  font-weight: 500;
  color: #000;
  font-family: Montserrat;

}

.form-section{
  .type-1{
    margin-bottom: 26px;
  }
}

.form-section .strange-big-text{
  text-align: center;
  font-size: 16px;
  line-height: 153%;
  margin-bottom: 27px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
}

a.text-link{
  display: inline-block;
  text-decoration: none;
  transition: all ease 0.3s;
  text-decoration: none;
  color: #000;
  &:hover{
      color: c.$accent-color;
  }
}

.tabs-side{
}


form {
  margin-top: 20px;
  max-width: 273px;;
  margin: 0 auto;
}

label {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

input {
  font-family: inherit;
  display: block;
  width: calc(100% - 147px);
  margin: 0px 0;
  padding: 5px 0px;
  border: none;
  border-bottom: 1px solid #E6E6E6;
  font-size: 18px;
  font-weight: normal;
  line-height: 200%;
  color: #BFB2B2;
  background-color: transparent;
  width: 100%;
}

input::placeholder{
  font-family: inherit;
  font-size: 13px;
  color: #878787;
}




input:focus {
  color: black;
  outline: none;
}

input:focus {
  color: #000;
  border-bottom-color: c.$accent-color;
  outline: none;
}

.group-input{
  margin-bottom: 25px;
}

.checkbox, .checkbox2 {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 25px;;
}

.checkbox input[type="checkbox"], .checkbox2 input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox label, .checkbox2 label {
  display: block;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  padding-left: 40px;
}

.checkbox label:before, .checkbox2 label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-right: 10px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Іконка галочки */
.checkbox input[type="checkbox"]:checked + label:before,
.checkbox2 input[type="checkbox"]:checked + label:before {
  background-image: url('../images/icons/check2.svg'); /* Вкажи шлях до своєї картинки галочки */
  background-color: transparent;
  border-color: #fff;
}

/* Текст посилання в чекбоксі */
.checkbox label a, .checkbox2 label a  {
  text-decoration: underline;
  color: black;
}

.checkbox small, .checkbox2 small{
  position: absolute;
  bottom: -25px;
}

/* Помилки валідації */
.checkbox .error, .checkbox2 .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block; /* Щоб показати помилку під чекбоксом */
}

.checkbox input[type="checkbox"].error + label:before,
.checkbox2 input[type="checkbox"].error + label:before {
  border-color: red;
}

/* Коли все в порядку, прибираємо червону рамку */
.checkbox input[type="checkbox"]:checked + label:before,
.checkbox2 input[type="checkbox"]:checked + label:before {
  border-color: black;
}

.submit-btn {
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  border: none;
  font-size: 22px;
  padding: 44px 20px;
  position: absolute;
  left: 0px;
  bottom: 164px;
  margin-top: 20px;
  width: 100%;
  text-align: left;
  padding-left: 140px;
  font-weight: 600;
  transition: all ease 0.3s;
  color: #000;
}

.arrow {
  margin-left: 10px;
  transition: margin-left 0.3s;
}

.submit-btn:hover{
  background-color: #f0c079;
}

.submit-btn.active{
  background-color: #f0c079;
}


.submit-btn:hover .arrow {
  margin-left: 16px;
}

/* Попап */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнення фону */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Вперед всіх елементів */
}

.popup-content {
  background: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  width: 25px;
}
.popup-text{
  padding-top: 50px;
  max-width: 80%;
  margin: 0 auto 50px;
}

.popup .close img{
  width: 100%;
}

.hidden {
  display: none;
}

.only-desktop{
  display: none;
}
.only-mobile{
  display: block;
}

@media (min-width: 340px) {
  // .main-screen {
  //   padding: 129px 0px 0px 0px;
  // }
  .h1-main {
    padding-left: 0px;
    line-height: 133%;
    letter-spacing: 6px;
  }
  // .wrap-main-pic {
  //   top: 117px;
  //   right: -278px;
  // }
  .pics-block{
    margin-bottom: 48px;
  }
  .texts-part{
    padding-left: 40px;
    padding-right: 17px;
    padding-bottom: 40px;;
  }
}

@media (min-width: 370px) {
  .h1-main {  
    margin-bottom: 320px;
    margin-top: 22px;
  }
  // .wrap-main-pic {
  //   width: 470px;
  //   top: 113px;
  //   right: -254px;
  // }
  .gold-text {
    margin-bottom: 39px;
  }
  .h1-main span {
    top: -33px;
    font-size: 52px;
  }
  .container-main {
    max-width: 500px;
  }
  .accordion {
    padding: 28px 45px 20px 0px;
  }
}

/* мобілка велика */
@media (min-width: 450px) {
  .h1-main {
    font-size: 52px;
  }
  .h1-main span {
    top: -33px;
    font-size: 75px;
  }
  .two-text {
    max-width: 400px;
  }
  .wrap-main-pic {
    right: 0;
    left: 22%;
  }
}

@media (min-width: 600px) {
  .about-flex {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
  }
  .about-flex-item {
    margin-bottom: 30px;
    max-width: 45%;
  }
}


@media (min-width: 768px) {
  .main-screen {
    height: 672px;
    // padding: 623px 0px 0px 154px;
    background: #000;
  }
  .wrap-main-pic {
    width: 659px;
  }
  .page-content {
    padding-top:680px;
  }
  .two-text .bold-text{
    color: c.$accent-color;
  }

  .gallery-item {
    flex: 1 1 calc(33.33% - 10px); /* 3 колонки на планшетах */
  }
  .h1-main {
    font-size: 52px;
    padding-left: 232px;
    padding-top: 26px;
  }
  .h1-main span {
    top: -3px;
    font-size: 90px;
    letter-spacing: 2px;
  }

  .meet-us {
    z-index: 15;
  }
  .two-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    .bold-text {
      order: 2;
      max-width: 500px;
      font-size: 28px;
    }
    .light-text {
      max-width: 385px;
      order: 1;
      margin-right: 40px;
    }
  }
  .container-main {
    max-width: 600px;
  }
  .pics-block .wrap-middle {
    width: 271px;
    height: 370px;
    top: 116px;
    left: 33px;
  }
  .pics-block .wrap-top {
    width: 319px;
    height: 200px;
    top: 0px;
    right: 0px;
  }
  .pics-block .wrap-bottom {
    width: 218px;
    height: 271px;
    top: 228px;
    right: 15px;
  }
  .pics-block {
    min-height: 513px;
  }
  .about-section .type-1 {
    max-width: 200px;
    text-align: left;
    display: block;
    margin: 0 0 47px;
  }
  .pics-wrap .wrap-big-pic {
    width: 228px;
    height: 378px;
    top: -133px;
    left: 247px;
    z-index: 2;
  }
  .pics-wrap .wrap-pic-small {
    width: 189px;
    height: 240px;
    left: 105px;
    top: 161px;
    z-index: 1;
  }
  .about-flex {
    flex-direction: column;
  }
  .positioned {
    position: absolute;
    top: 219px;
    left: 81px;
    max-width: 204px;
  }
  .positioned2 {
    position: absolute;
    top: 131px;
    right: 25px;
    max-width: 208px;
  }
  .positioned3 {
    position: absolute;
    top: 295px;
    right: 23px;
    max-width: 211px;
  }
  .pics-wrap .wrap-big-pic {
    width: 186px;
    height: 302px;
    top: -120px;
    left: 234px;
    z-index: 2;
  }
  .about-section {
    padding-bottom: 40px;
  }
  .slider-block {
    padding: 40px 0px 30px;
  }
  .side-button.only-desctop {
    display: block;
    position: absolute;
    right: -79px;
    bottom: -55px;
    max-width: max-content;
    min-width: 400px;
  }
  .footer-content {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
  }
  .footer-menu {
      order: 2;
  }
  .footer-info {
      order: 3;
  }
  .footer-capitali {
      order: 1;
  }
  .footer-text {
      order: 4;
      width: 100%;
      text-align: center;
  }
  .footer {
    position: relative;
    padding: 130px 15px;
  }
  .footer-capitali{
    position: absolute;
    top:100px;
    left:20px;
  }
  .only-desktop{
    display: block;
  }
  .only-mobile{
    display: none;
  }
}


/* Для десктопів */
@media (min-width: 980px) {
  .container-main {
    width: 83%;
    max-width: 90%;
  }

  .wrap-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .pics-block {
      width: 700px;
      order: 2;
    }
  }
  .texts-part {
    width: 500px;
   
  }
  .pics-wrap .wrap-big-pic {
    width: 264px;
    height: 420px;
    left: 286px;
  }
  .pics-wrap .wrap-pic-small {
    left: 125px;
    top: 189px;
  }
  .about-section .container-main {
    position: relative;
  }
  .positioned {
    position: absolute;
    top: 179px;
    left: 0;
  }
  .positioned2,
  .positioned3 {
    right: 0px;
  }
  .tabs-block{
    // background-color: #F7F7F7 ;
    background:  #F7F7F7 ;

  }
}

/* Для десктопів */
@media (min-width: 1024px) {
  .accordion{
    width: 93%;
  }
  .container-main {
    width: 84%;
  }
  .group-input {
    margin-bottom: 45px;
  }
  .form-section .strange-big-text{
    text-align: left;
    font-size: 20px;
  }
  .wrap-main-pic {
    right: 0;
    width: 711px;
    top: auto;
    left: 28%;
    bottom: -8px;
  }
  .main-logo {
    top: 37%;
    z-index: 9;
  }
  .texts-part {
    width: 400px;
    padding-top: 83px;
  }
  .simple-text {
    font-size: 22px;
  }
  .main-screen .simple-text {
    margin-bottom: 62px;
  }
  .pics-wrap .wrap-big-pic {
    left: 345px;
  }
  .pics-wrap .wrap-pic-small {
    left: 199px;
  }
  .pics-wrap .wrap-big-pic {
    width: 257px;
    height: 425px;
    left: 317px;
  }
  .positioned2,
  .positioned3 {
    max-width: 224px;
  }
  .side-button.only-desctop {
    display: block;
    position: absolute;
    right: 0px;
  }
  .owl-images {
    width: 100%;
    height: 560px;
  }
  .owl-carousel{
  }
  .wrap-carousel{
    margin-left: 200px;
    padding-right: 200px;
    position: relative;
    min-height: 400px;
    &:before {
      content: "";
      width: 390px;
      height: 580px;
      position: absolute;
      top: 0px;
      left: -394px;
      background-color: #f7f7f7;

      z-index: 9;
    }
  }
  .owl-carousel .owl-stage-outer{
    overflow: visible;
  }
  .small-gold {
    bottom: 98px;
    left: 28px;
    z-index: 99;
  }
  .slider-block .type-1 {
    font-size: 32px;
    max-width: max-content;
    text-align: left;
    margin: 0px 20px 67px 56px;
  }
  .slider-block {
    padding: 240px 0px 30px;
  }
  .side-button.only-desctop{
    bottom: -182px;
  }
  .gallery {
    gap: 15px;
  }

  .gallery-item {
      flex: 1 1 calc(16.66% - 15px); /* 6 елементів в ряд */
      max-width: 200px;
  }
  /* Лісенка */
  .gallery-item:nth-child(2n) {
      transform: translateY(20px);
  }

  .gallery-item:nth-child(3n) {
      transform: translateY(-20px);
  }
  .two-sides{
    display: flex;
    justify-content: space-between;
  }
  .texts-side{
    margin-right: 30px;
    min-width: 40%;
  }
  .texts-side .type-1 {
    margin: 8px auto 81px 22px;
    text-align: left;
  }
  .strange-big-text {
    padding: 3px 27px 20px;
    line-height: 133%;
    max-width: 523px;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
   }
  .wawe-gallery{
    padding: 100px 20px;
    // background-image: url(../images/wawe.png);
    background-repeat: no-repeat;

  }
  .gallery-item {
    width: 48%;
    height: 221px;
  }
  form {
    margin-top: 20px;
    max-width: 500px;
  }
  label {
    font-size: 20px;
  }
  input::placeholder{
    font-size: 14px;
  }
  .image-wrapper {
    width: 100%;
    height: 220px;
    border-radius: 12px;
  }
  .texts-side{
    max-width: 40%;
  }
  .form-bottom-h2{
    text-align: left;
    font-size: 56px;
  }
}

@media (min-width: 1150px) {
  .pics-wrap .wrap-big-pic {
    width: 365px;
    height: 521px;
  }
  .pics-wrap .wrap-pic-small {
    top: 266px;
  }
  .about-section {
    padding-bottom: 152px;
  }
  .accordion{
    width: 100%;;
  }
  .button{
    padding: 24px 84px;
    min-width: max-content;
  }

}


@media (min-width: 1200px) {
  .h1-main {
    font-size: 76px;
    padding-left: 293px;
    padding-top: 98px;
    margin-bottom: 156px;
  }
  .h1-main span {
    top: 54px;
    font-size: 149px;
    letter-spacing: 11px;
    z-index: -5;
  }
  .wrap-main-pic {
    z-index: 9;
  }
  .two-text {
    max-width: 78%;
    margin: 0 auto;
  }
  .gold-text {
    margin-bottom: 39px;
    padding-left: 13%;
    width: auto;
    font-size: 32px;
    letter-spacing: 7px;
    a {
      display: inline-block;
    }
  }
  .gold-text:before {
    left: auto;
  }
  .two-text .light-text {
    margin-top: 35px;
    line-height: 136%;
    font-size: 40px;
    max-width: 494px;
  }
  .two-text .bold-text {
    letter-spacing: 7px;
    line-height: 138%;
    font-size: 34px;
  }
  .pics-wrap .wrap-big-pic {
    left: 340px;
  }
  .pics-wrap .wrap-pic-small {
    left: 237px;
  }
  .slider-block .type-1 {
    font-size: 36px;
  }
  .accordion {    
    font-size: 24px;    
    line-height: 159%;
    padding: 30px 30px 30px 0px  ;    
  }
  .panel {   
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    p {
        margin-bottom: 35px;;
    }
  }
  .gallery-item {
    height: 267px;
  }
  .overlay{
    font-size: 21px;
  }
  .footer-content {
    max-width: 1200px;
  }
  .footer-logo{
    margin-left: 0px;;
  }
  .footer-capitali{
    top: 150px;
  }
  .footer-text{
    padding: 80px 10px;
    flex-direction: row; 
    display: flex;
    justify-content: space-between;
  }
  .footer-info .icon.loc{
    width: 20px;
    margin-top: -5px;
    margin-left: -2px;
  }
  .about-section {
    padding-bottom: 93px;
    margin-bottom: 164px;
  }
  .slider-block {
    padding: 133px 0px 30px;
  }
  .image-wrapper {
    height: 274px;
  }

}



@media (min-width: 1400px) {
  .form-bottom-h2{
    font-size: 64px;
  }
  .about-section{
    background-color: #F2F2F2;
  }
  .positioned2,
  .positioned3 {
    max-width: 318px;
  }
  .side-button.only-desctop {
    bottom: -276px;
    min-width: 400px;
  }
  .side-photo.only-desctop {
    display: block;
    position: absolute;
    width: 200px;
    height: 160px;
    right: 0px;
    bottom: -43px;
  }
  .tabs-block {
    padding-top: 48px;
    padding-bottom: 100px;
  }
  .texts-side .type-1 {
    margin: 8px auto 81px 92px;
    letter-spacing: 3px;
    font-size: 60px;
  }
  .strange-big-text {
    padding: 30px 93px 22px;
    line-height: 183%;
    max-width: 523px;
    font-size: 20px;
  }
  .form-section .strange-big-text{
    font-size: 20px;
  }
  .accordeon-block {
    padding: 0px 0px 0px 47px;
  }
  .accordion:after {
    right: 0px;
  }
  .accordion:before {
    right: 9px;
  }
  .footer p{
    font-size: 15px;
    line-height: 130%;;
  }
  .footer-text{
    font-size: 15px;
  }
  .middle-text{
    max-width: 800px;;
    font-size: 15px;;
  }
  .form-section{
    margin-bottom: 150px;;
  }
  .main-screen {
    background: #000;
  }
  .wrap-main-pic {
    right: -10px;
    width: 850px;
  }
  .page-content {
    padding-top: 330px;
  }
  .main-screen{
    height: 772px;
  }
  .page-content {
    padding-top: 780px;
    background-color: #fff;;
    background-image: url('../images/backwawe2.webp');
    // background-position: bottom;
  }
 
}

/* Для десктопів */
@media (min-width: 1560px) {

  .h1-main {
    font-size: 74px;
    padding-left: 461px;
    padding-top: 184px;
    margin-bottom: 217px;
    letter-spacing: 16px;
    font-weight: 600;
    line-height: 148%;
    position: relative;
  }
  .h1-main span {
    top: 118px;
    font-size: 200px;
    left: 372px;
    letter-spacing: 30px;
    z-index: -5;
  }

  .gold-text {
    margin-bottom: 39px;
    padding-left: 15%;
    width: auto;
    font-size: 32px;
    letter-spacing: 9px;
  }
  .two-text {
    max-width: 73%;
  }
  .texts-part {
    padding-left: 0px;
    padding-right: 0px;
    .simple-text {
      line-height: 191%;
      font-size: 20px ;
    }
  }
  .two-text .light-text {
    margin-top: 35px;
    line-height: 176%;
    font-size: 48px;
    max-width: 494px;
  }
  .two-text .bold-text {
    letter-spacing: 7px;
    line-height: 188%;
    font-size: 40px;
  }
  .two-text .light-text {
    margin-top: 74px;
    line-height: 174%;
    font-size: 48px;
    max-width: 606px;
    letter-spacing: 0px;
    margin-right: 80px;
  }
  .two-text .bold-text {
    letter-spacing: 11px;
    line-height: 188%;
    font-size: 40px;
    max-width: 100%;
    margin-top: 14px;
    padding-left: 70px;
  }
  
  .contacts-list span.image-span {
    min-width: 32px;
  }
  .positioned2 {
    top: 36px;
  }
  .positioned3 {
    top: 192px;
  }
  .pics-wrap .wrap-big-pic {
    width: 435px;
    height: 702px;
  }
  .about-section {
    padding-bottom: 93px;
    background: linear-gradient(to bottom, 
    #F2F2F2 0%, 
    #F2F2F2 60%, 
    #F7F7F7 60%, 
    #F7F7F7 100%);
  }
  .pics-wrap .wrap-pic-small {
    top: 431px;
    z-index: 6;
    width: 224px;
    height: 260px;
  }
  .side-button.only-desctop {
    bottom: -611px;
  }
  .side-photo.only-desctop {
    width: 301px;
    height: 307px;
    right: 0px;
    bottom: -205px;
  }
  .forms-block{
    max-width: 89%;
    margin: 0px auto;
    padding: 50px 0px;
  }
  .footer {
    padding: 269px 15px;
    margin-top: 60px;
  }
  .footer-content {
    max-width: 1622px;
    margin-left: 166px;
  }
  .footer-menu {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin: 13px auto 0;
    width: 353px;
    margin-right: 187px;
    margin-left: 0px;
  }
  .footer-logo {
    margin-right: 116px;
  }

  .footer-content{
    justify-content: flex-start ;

  }
  .footer-menu ul {    
    margin-right: 129px;
  }
  .footer-info {    
    margin-bottom: 54px;
    margin-left: 50px;
    margin-top: 27px;
    &.info2{
      padding-top: 6px;
    }
  }
  .footer-info .icon.loc {
    width: 18px;
    margin-top: -4px;
  }
  .footer-capitali{
    left: 3px;
    top: 153px;
    z-index: 99;
  }
  .footer-text {
    align-items: anchor-center;
  }
  .middle-text{
    max-width: 40%;
    text-align: left;
  }
  .forms-block{
     padding-bottom: 100px;
   }
   .slider-block {
    padding: 276px 0px 30px;
  }
  .side-button.only-desctop {
    bottom: -411px;
  }
  .slider-block .type-1 {
    font-size: 55px;
  }
  .pics-block .wrap-bottom {
    z-index: 99;
  }
  .gold-text{
    padding-left: 16.5%;
  }
  .gold-text:before {
    width: 69px;
    height: 105px;
    top: -109px;
    left: 291px;
    transform: rotate(-10deg);
  }
  .about-section {
    padding-top: 110px;
  }
  .about-section .type-1 {
    font-size: 48px;
    max-width: 400px;
  }
  .slider-block .type-1 {
    font-size: 59px;
    font-weight: 300;
  }
  .accordion {
    width: 100%;
  }
  .panel{
    padding-left: 0px;;
  }
  .image-wrapper {
    height: 316px;
  }
  .main-screen {
    height: 802px;
  }
  
  .page-content {
    padding-top: 848px;
  }
}



/* Для десктопів */
@media (min-width: 1750px) {
  .page-content {
    background-position: bottom;
  }
  .pics-block .wrap-top {
    width: 543px;
    height: 372px;
    top: 20px;
    right: 127px;
  }
  .pics-block .wrap-middle {
    width: 382px;
    height: 548px;
    top: 219px;
    left: -297px;
  }
  .pics-block .wrap-bottom {
    width: 424px;
    height: 542px;
    top: auto;
    bottom: -575px;
    right: 99px;
  }
  .wrap-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 440px;
  }
  .pics-wrap .wrap-big-pic {
    width: 520px;
    height: 872px;
    left: 464px;
    top: -174px;
  }
  .positioned {
    position: absolute;
    top: 330px;
    max-width: 377px;
    left: 17px;

  }
  .about-flex-head {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: -3px;
  }
  .normal-text {
    font-size: 21px;
  }
  .positioned2,
  .positioned3 {
    max-width: 435px;
  }
  .positioned2 {
    top: 111px;
  }
  .positioned3 {
    top: 264px;
  }
  .pics-wrap .wrap-pic-small {
    left: 177px;
  }
  .pics-wrap .wrap-pic-small {
    top: 502px;
    z-index: 6;
    width: 361px;
    height: 390px;
  }
  .about-section {
    padding-bottom: 42px;
  }
  .slider-block {
    padding: 132px 0px 30px;
  }
  .slider-block .type-1 {
    font-size: 59px;
    letter-spacing: 3px;
    margin-bottom: 100px;
    margin: 0px 24px 147px 241px;
  }
  .wrap-carousel {
    margin-left: 458px;
  }
  .wrap-carousel:before {
    width: 526px;
    height: 660px;
    top: 0px;
    left: -534px;
    background-color: #f7f7f7 ;
  }
  .owl-images {
    width: 100%;
    height: 603px;
  }
  .small-gold{
    font-size: 28px;
      bottom: 147px;
      left: 210px;
      min-width: 160px;
  }
  .small-gold:before {
    top: -93px;
    left: -35px;
    width: 93px;
    height: 101px;
    transform: rotate(57deg) scaleY(-1);
  }
  .texts-part{
    padding-top: 90px;
    .simple-text{
      margin-bottom: 60px;;
    }
    .button {
      margin: 118px auto 0px;
    }
  }
  .btn-wrap {
    width: 100%;
    margin-top: 49px;
    margin-left: 86px;
  }
  .overlay {
    font-size: 27px;
  }
  .gallery-item {
    height: 307px;
    height: 307px;
    margin: 0px 11px;
    border-radius: 25px;;
  }
  .gallery-item:nth-child(2) {
    transform: translateY(-69px);
  }
  .gallery-item:nth-child(3) {
    transform: translateY(0px);
  }
  .gallery-item:nth-child(4) {
    transform: translateY(-108px);
  }
  .gallery-item:nth-child(5) {
    transform: translateY(0px);
  }
  .gallery-item:nth-child(6) {
    transform: translateY(-108px);
  }
  .wawe-gallery{
    padding: 260px 0px 140px;
  }
  .texts-side .type-1 {
    margin: -4px auto 50px 91px;
    font-size: 60px;
    line-height: 169%;
  }
  .tabs-side{
    padding-top: 50px;
  }

  .forms-block {
    .two-sides{
      justify-content: flex-start;  
      padding-top: 20px;
    }
    .tabs-side{
      padding-top: 20px;
      margin-left: 10px;
    }
  }
  .strange-big-text {
    padding: 56px 93px 22px;
    font-size: 20px;
  }
  form {
    margin-top: 79px;
    input{
      padding-top: 18px;
    }
    .button {
      padding: 24px 138px;
    }
  }
  .bottom-form-place{
    form {
      margin-top: 120px;
    }
    .two-sides{
      justify-content: space-between;
    }
    .strange-big-text.only-desktop{
      padding-top:0px;
      margin-top: 7px;
      font-weight: 500;
    }
  }
  label {
    font-size: 20px;
  }
  input::placeholder{
    font-size: 20px;
  }
  .group-input {
    margin-bottom: 69px;
  }
  .checkbox label{
    font-size: 15px;
  }
  .checkbox label:before{
    top: 5px;
  }
  .forms-block .button{
    margin: 50px 0px;
  }
  .about-section {
    padding-bottom: 471px;
  }
  .side-button.only-desctop {
    bottom: -619px;
  }
}



