@use '_color' as c;


.main-screen{
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 125px 20px 20px 20px;
    background: linear-gradient( #fff 0%, #fff 600px, #F7F7F7 600px, #F7F7F7 100%);
}

.wrap-main-pic{
    width: 470px;
    position: absolute;
    top: 110px;
    right: -260px;
    pointer-events: none;
    img{
        width: 100%;
    }
}

.h1-main{
    font-family: inherit;
    font-weight: 400;
    font-size: 32px;
    color: c.$main-color;
    text-transform: uppercase;
    line-height: 120%;
    letter-spacing: 7px;
    padding-left: 0px;
    margin-bottom: 321px;
    margin-top: -11px;
    position: relative;
    z-index: 3;
    span{
        position:absolute;
        top: -23px;
        font-family: inherit;
        font-weight: 900;
        font-size: 42px;
        z-index: -1;
        color: #F7F7F7;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
}

.gold-text{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 159%;
    color: c.$accent-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    a{
        font-family: inherit;
        color: inherit;
        display: block;
    }
    &:before{
        content: "";
        position: absolute;
        top: -110px;
        left: 22px;
        width: 64px;
        height: 75px;
        background-image: url('../images/icons/arr-gold.svg');
        background-size: contain;
        background-repeat: no-repeat;

    }
}

.gold-text , .two-text{
    padding-left: 25px;
}



.bold-text{
    font-family: inherit;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 149%;
    color: c.$main-color;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.light-text{
    font-family: inherit;
    font-size: 32px;
    font-weight: 300;
    line-height: 149%;
    color: c.$main-color;
    margin-bottom: 50px;
}


.container-main{
    max-width: 300px;
    margin: 0 auto;
}


.simple-text{
    font-family: inherit;
    font-weight: 400;
    line-height: 179%;
    color: c.$main-color;
}

.main-screen{
    .simple-text{
        margin-bottom: 47px;
    }
}

.wrap-images{
    position: absolute;
    border-radius: 25px ;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.pics-block{
    position: relative;
    min-height: 450px;
    margin-bottom: 70px;
    .wrap-top{
        width: 226px;
        height: 151px;
        top:0px;
        right:0px;
    }
    .wrap-middle{
        width: 181px;
        height: 256px; 
        top: 93px;
        left: 0px;       
    }
    .wrap-bottom{
        width: 183px;
        height: 234px;
        top: 199px;
        right: 15px;
    }
}


.button{
    width:auto;
    border: 1px solid c.$accent-color;
    color: c.$accent-color;
    font-family: inherit;
    font-size: 16px;
    border-radius: 44px;
    padding: 26px 65px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: 800;
    transition: all ease 0.3s;
    max-width: 300px;
    &:hover{
        background-color: c.$accent-color; 
        color: #fff;
    }
}

.about-section{
    position: relative;
}

.pics-wrap{
    position: relative;
    .wrap-big-pic{
        width: 228px;
        height: 350px;
        top: 40px;
        left: 0px;
    }
    .wrap-pic-small{
        width: 226px;
        height: 289px;
        top: 0px;
        right: 0px;
    }
}

@media (min-width: 340px) {
    .h1-main {
        padding-left: 25px;  
        padding-left: 25px;
   
    }
    .wrap-main-pic {
        top: 117px;
        right: -278px;
    }
}

@media (min-width: 370px) {
    .h1-main {
        padding-left: 25px;  
        margin-bottom: 321px;
        margin-top: 22px;         
    }
    .wrap-main-pic {        
        width: 470px;
        top: 113px;
        right: -254px;
    }
    .gold-text {
        margin-bottom: 39px;
    }
    .h1-main span {
        top: -33px;
        font-size: 52px;
    }
    .container-main{
        max-width: 500px;
    }
}


/* мобілка велика */
@media (min-width: 450px) {
    .h1-main {
        // padding-left: 25%;
        font-size: 52px;        
    }
    .h1-main span {
        top: -33px;
        font-size: 75px;
    }
    .two-text{
        max-width: 400px;
    }
    .wrap-main-pic {
        // width: 500px;
        // top: 45px;
        right: -220px;
    }
}

@media (min-width: 768px) {
    .h1-main {
        font-size: 52px;
        padding-left: 232px;
        padding-top: 26px;
    }
    .h1-main span {
        top: -3px;
        font-size: 90px;
        letter-spacing: 2px;
    }
    .wrap-main-pic{
        width: 508px;
        right: -105px;
    }
    .meet-us{
        z-index: 15;
    }
    .two-text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        max-width: 100%;
        .bold-text{
            order:2;
            max-width: 500px;
            font-size: 28px;
        }
        .light-text{
            max-width: 385px;
            order: 1;
            margin-right: 40px;
        }
    }
    .container-main{
        max-width: 600px;
    }
    .pics-block .wrap-middle {
        width: 271px;
        height: 370px;
        top: 116px;
        left: 33px;
    }
    .pics-block .wrap-top {
        width: 319px;
        height: 200px;
        top: 0px;
        right: 0px;
    }
    .pics-block .wrap-bottom {
        width: 218px;
        height: 271px;
        top: 228px;
        right: 15px;
    }
    .pics-block {
        min-height: 513px;
    }
}


/* Для десктопів */
@media (min-width: 980px) {
    .container-main{
        width: 83%;
        max-width: 90%;
    }
    .wrap-main-pic {
        right: -56px;
    }
    .wrap-two{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .pics-block{
            width: 700px;
            order: 2;
        }
    }
    .texts-part{
        width: 500px;
    }
}

/* Для десктопів */
@media (min-width: 1024px) {
    .container-main {
        width: 84%;
    }
    .wrap-main-pic {
        right: 38px;
        width: 624px;
        top: -10px;
    }
    .texts-part {
        width: 400px;
        padding-top: 83px;
    }
    .simple-text {
        font-size: 22px;        
    }
    .main-screen .simple-text {
        margin-bottom: 62px;
    }
}

@media (min-width: 1200px){
    .h1-main {
        font-size: 76px;
        padding-left: 293px;
        padding-top: 98px;
        margin-bottom: 156px;
    }
    .h1-main span {
        top: 54px;
        font-size: 149px;
        letter-spacing: 11px;
        z-index: -5;
    }
    .wrap-main-pic{
        z-index: 9;
    }
    .two-text {
        max-width: 78%;
        margin: 0 auto;
    }
    .gold-text {
        margin-bottom: 39px;
        padding-left: 13%;
        width: auto;
        font-size: 32px;
        letter-spacing: 7px;;
        a{
            display: inline-block;
        }
    }
    .gold-text:before{
        left:auto;
    }
    .two-text .light-text{
        margin-top: 35px;;
        line-height: 176%;
        font-size: 48px;
        max-width: 494px;
    }
    .two-text .bold-text{
        letter-spacing: 7px;
        line-height: 188%;
        font-size: 40px;
    }
  
}

/* Для десктопів */
@media (min-width: 1560px) {
    .h1-main {
        font-size: 74px;
        padding-left: 461px;
        padding-top: 184px;
        margin-bottom: 217px;
        letter-spacing: 16px;
        font-weight: 600;
        line-height: 148%;
        position: relative;
    }
    .h1-main span {
        top: 118px;
        font-size: 200px;
        left: 372px;
        letter-spacing: 30px;
        z-index: -5;
    }
    .wrap-main-pic {
        right: -10px;
        width: 1045px;
        top: -172px;
    }
    .gold-text {
        margin-bottom: 39px;
        padding-left: 15%;
        width: auto;
        font-size: 32px;
        letter-spacing: 9px;
    }
    .two-text {
        max-width: 72%;    
    }
    .two-text .light-text {
        margin-top: 74px;
        line-height: 176%;
        font-size: 48px;
        max-width: 606px;
        letter-spacing: 5px;
        margin-right: 140px;
    }
    .two-text .bold-text {
        letter-spacing: 11px;
        line-height: 188%;
        font-size: 40px;
        max-width: 100%;
        margin-top: 84px;
    }
    .main-screen{
        background: linear-gradient( #fff 0%, #fff 800px, #F7F7F7 800px, #fdfdfd 100%);
    }
    .contacts-list span.image-span{
        min-width: 32px;
    }
}

/* Для десктопів */
@media (min-width: 1750px) {
    .pics-block .wrap-top {
        width: 543px;
        height: 372px;
        top: -36px;
        right: 127px;
    }
    .pics-block .wrap-middle {
        width: 382px;
        height: 548px;
        top: 219px;
        left: -297px;
    }
    .pics-block .wrap-bottom {
        width: 424px;
        height: 542px;
        top: auto;
        bottom: -591px;
        right: 99px;
    }
}