
.secondary-screen{
    margin-bottom: 50px;
}


.secondary-screen.about-page{
    h1{
        max-width: 231px;
        letter-spacing: 4px;
    }

}

.content{
    max-width: 1322px;
    padding: 0px 15px;
    margin: 0 auto;
    box-sizing: border-box;
    
}

.content-large{
    max-width: 1580px;
    padding: 0px 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.sections-name{
    max-width: 1220px;
}


.two-col{
    margin-bottom: 50px;
}
.two-col.right-image-type{
    padding-top: 20px;
}
.wrp-image-column{
    width: 100%;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 20px;;
    img{
        width: 100%;
        object-fit: cover;
    }
}


.images-standart{
    border-radius: 18px;
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


blockquote{
    color: #D5AF7B;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 142%; /* 51.12px */
    position: relative;
    margin: 15px auto 45px;
    padding: 14px;
    border-top: 1px solid #F7F2EB;
    &:after{
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        bottom: -20px;
        height: 20px;
        width: 100%;
        background-image: url(../images/quote.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}


.reason-name{
    color: #D5AF7B;
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 159%; /* 38.16px */
    margin: 0px;
}
.reason-item{
    margin-bottom: 25px;
    p{
        line-height: 153%;
    }
}


.accent-text{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; 
}

.page-end{
    margin-bottom: 50px;
}


.image-it{
    border-radius: 18px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 15px;;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sections-name.left{
    text-align: left;
    margin-left: 0px ;
    margin: 0px;
}

.slider-section{
    overflow: hidden;
    margin-right: -20px;
}

.content-large .wawe-gallery{
    margin: 10px 0px 50px;
}

.slider-section{
    padding-top: 20px;
}

.slider-wrapper .btn-wrap{
    padding-right: 20px;;
}

.owl-sect{
    position: relative;
    // margin: 0px -20px;
    // padding: 0px 20px;
    padding-right: 20px;
    .item{
        height: 300px;
        border-radius: 18px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.slider-section{
    .btn-wrap{
        margin-top: 20px;

    }
    button{
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all ease 0.3s;
        margin-left: 10px;
        &:hover{
            svg{
                path{
                    stroke: #D5AF7B;
                }
            }
        }
    }

}

.for-404{
    height: 100vh;
    margin-bottom: 0px;

}
.s-404{
    height: 100vh;
    background-position: center;
    margin-bottom: 0px;
}

.page-404-name{
    text-align: center;
    font-size: 50px ;
    font-weight: 700;
    font-family: Montserrat;
    margin-bottom: 0px;
}

.sorry{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    font-family: Montserrat;
    margin-bottom: 25px;
}

.alternate{
    text-align: center;
    font-family: Montserrat;
}

.for-link{
    color: #000;
    transition: all ease 0.3s;
    &:hover{
        color: #D5AF7B;
    }
}


.wrap-information{
    padding:  0px 15px;
    .button{
        padding: 15px 55px;
        font-size: 13px;
        // background-color: ;
    }
}


@media screen and (min-width: 470px){
    .reasons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .reason-item{
        width: 48%;
    }
    .image-it{
        height: 500px;
    }
}


@media screen and (min-width:768px){
    blockquote{
        max-width: 580px ;
        margin: 30px auto 60px;
    }

    .secondary-screen{
        margin-bottom: 70px;
    }
    .content{
        max-width: 90%;        
    }
    .two-col{
        display: flex;
        justify-content: space-between;
        &.right-image-type{
            padding-left: 20px;
        }

    }
    .text-column{
        // padding-left: ;
        max-width: 45%;
    }
    .image-column{
        // min-height: 700px;
        max-width: 561px ;
        width: 300px;
        position: relative;
    }
    .wrp-image-column{
        position: sticky;
        top: 20px;
    }
    .accent-text{
        font-size: 23px;
    }
    .image-it{
        height: auto;
        padding: 0px 10px;
    }
    .images-unique{
        display: flex;
        justify-content: space-between;
    }
    .owl-sect{
        // position: relative;
        margin: 0px -20px;
        padding: 0px 20px;

    }
    .wrap-information{
        max-width: 60%;
        margin: 0 auto;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);

    }
    .page-404-name{
        font-size: 100px;
    }
    .sorry{
        font-size: 26px;
    }
    .alternate{
        font-size: 20px;
    }
}

@media screen and (min-width:1024px){
    .secondary-screen.about-page{
        h1{
            max-width: 100%;
            letter-spacing: 10.88px;
        }
    
    }
    .content{
        max-width: 85%;        
    }
    .images-standart{
        height: 500px;
    }
    .reasons{
        padding: 30px 0px;
        justify-content: space-between;
    }
    .reason-item{
        width: 32%;
        margin-bottom: 70px;
    }
    .reason-name{
        font-size: 24px;
        margin-bottom: 7px;
    }
    .page-end{
        margin-bottom: 80px;
    }
    .slider-section{
        p{
            max-width: 70%;
        }
    }
    .owl-sect{
        .item{
            height: 500px;
        }
    }
    .texts-inner{
        .sections-name.left{
            margin-bottom: 20px;
        }        
    }
    .sections-name.margin100{
        margin-bottom: 50px;

    }
}


@media screen and (min-width: 1200px){
    .image-column {
        width: 500px;
    }
    .two-col{
        p{
            margin-bottom: 25px;;
        }
    }
    .images-standart{
        height: 630px;
        margin-bottom: 80px;
    }
    blockquote{
        font-size: 30px;
        max-width: 800px;
        padding-bottom: 40px;
        padding-top:30px;
        &:after{
            height: 40px;
        }
    }
    .accent-text{
        font-size: 26px;
        max-width: 1130px;
        margin: 50px auto;
    }
}


@media screen and (min-width: 1460px){

    .content{
        max-width: 1322px;
    }
    .two-col{
        &.right-image-type{
            padding-left: 0px;
        }
        &.right-image-type .text-column{
            padding-left: 38px;
            padding-top:50px;
            .image-column {
                width: 546px;
            }
        }
        &.left-image-type {

            .image-column {
                width: 501px;
            }
        }

    }

    .two-col{
        margin-bottom: 130px;
    }

    .images-standart{
        margin-top:70px;
        margin-bottom: 80px;
    }
    .content-large .wawe-gallery{
        margin: 60px 0px 120px;
    }
    .page-end{
        margin-bottom: 180px;
    }

    .slider-section .reason-name{
        margin-bottom: 25px;
    }
    .owl-sect {
        padding-top: 44px;
    }
    .slider-section{
        .btn-wrap{ 
            padding-right: 0px;
            .prev-btn svg{
                width: 30px;
                height: 25px;
            }

         }
    }

    .slider-section{
        .btn-wrap{
            margin-left: 0px;
        }
        .next-btn svg{
            height: 57px;
            width: 90px;
        }
        .prev-btn svg{
            height: 17px;
            width: 30px;
            padding-top: 3px;
        }

    }

    .texts-inner p{
        max-width: 90%;
        margin: 0 auto 30px;
    }
    .texts-inner{
        .sections-name.left{
            margin-left: 60px;
            margin-bottom: 60px;
        }        
    }
    .form-bottom form{
        padding-top:20px;
        position: sticky;
        top:20px;
    }
    .sections-name.margin100{
        margin-bottom: 100px;

    }
      .wrap-information{
        max-width: 80%;
        .button{
            padding: 25px 80px;
            font-size: 20px;
        }
    }
    .page-404-name{
        font-size: 153px;
        letter-spacing: 20px;
        margin-bottom:-23px;
    }
    .sorry{
        font-size: 36px;
        font-weight: 700;
        line-height: 143%;
    }
    .alternate{
        font-size: 24px;
        line-height: 169%;
        margin-bottom: 45px;
        font-weight: 700;
    }
}

@media screen and (min-width: 1760px){
    .secondary-screen{
        margin-bottom: 100px;
    }
    .reasons{
        margin-bottom: 100px;
        margin-top: 70px;
    }
    blockquote{
        font-size: 36px;
        margin-bottom: 120px;
        margin-top: 120px;
    }
    .images-unique{
        margin-bottom: 180px;
        // margin-top: 100px;
        padding-top: 80px;
    }
    .slider-section h2.sections-name{
        margin-bottom: 27px;
    }
}
